@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gerador de DANFE</h1>

    <form asp-action="GerarDanfe" asp-controller="Home" method="post" enctype="multipart/form-data">
        <div>
            <p>Insira um XML de NF-e</p>
            <input type="file" name="fileXml" accept=".pdf" required />
        </div>

        <br />

        <div>
            <input type="submit" value="Gerar PDF" class="btn btn-primary" />
        </div>
    </form>
</div>
